.control-panel {
    background: lightgray;
    text-align: right;
    padding: 4px;
    font-family: sans-serif;
}

.output {
    padding: 4px;
    border: 2px solid gray;
    min-height: 100px;
    width: 99%;
    resize: none;

}